@import url("https://fonts.googleapis.com/css2?family=Comfortaa&text=Hello");
body{
   text-align: center;

}

button{
    display: inline-block;
    background-color: #f8b627;
    color: aliceblue;
    font-size: 16px;
    font-weight: normal;
    text-align: center;
    border-radius: 3px;
    transition: 400ms;
    text-decoration: none;
    padding: 10px;
    z-index: 300000;
    flex-basis: auto;
}